body {
    font-family: roboto, sans-serif;
    margin: 0;
    background: #1e1e22;
    color: #e3e3ff;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    div:last-child {
        button:nth-child(2) {
            &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                border-radius: 50%;
                border: 1.5px solid #0077ff;
                animation: grow 1.2s ease-in-out infinite;
            }
        }
    }
}

button {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #0077ff;
    background: #92c5ff;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    margin: 0 10px;
}

textarea {
    width: 80%;
    max-width: 800px;
    min-width: 300px;
    height: 60%;
    max-height: 500px;
    min-height: 300px;
    border-radius: 5px;
    background: #f3f3ff;
    border: none;
    outline: none;
    color: #1e1e22;
    padding: 10px;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;

    &:focus {
        border: 2px solid #0077ff;
    }
}

@keyframes grow {
    from {
        transform: scale(1);
        opacity: 1;
    }

    to {
        transform: scale(1.5);
        opacity: 0;
    }
}

.action__container {
    position: fixed;
    background: #92c5ff;
    color: #1e1e22;
    left: 35%;
    height: 50px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #0077ff;
    border-radius: 10px;
    font-size: 20px;
    opacity: 0;
    top: -100px;
    transition: all 0.3s ease-in;
}

@media (min-width: 600px) {
    textarea {

        &::-webkit-scrollbar {
            width: 7px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background: #92c5ff;
        }
    }
}